<h1>Mes leagues</h1>

<hr>

<% @leagues.each do |league| %>
<h2><%= league.name %></h2>
<%= "*" * league.stars %>
<%= link_to "Aller voir", league_path(league) %>
<%= link_to "Supprimer", league_path(league), method: :delete, data: {confirm: "Êtes-vous sur?"} %>
<%= link_to "Editer", edit_league_path(league) %>
<% end %>

<hr>

<%= link_to "Ajouter une nouvelle league", new_league_path  %>
