<h1>Mes leagues</h1>

<hr>

<% @leagues.each do |league| %>
<h1><%= league.name %></h1>
<h3>nombre étoiles : <%= "*" * league.stars %> </h3>
<h3>addresse de la ligue : <%= league.address %> </h3>
<%= link_to "Aller voir", league_path(league) %>
<%= link_to "Supprimer", league_path(league), method: :delete, data: {confirm: "Êtes-vous sur?"} %>
<%= link_to "Editer", edit_league_path(league) %>


<hr>
<% end %>

<hr>


<%= link_to "Ajouter une nouvelle league", new_league_path  %>


<hr>

<div id="map"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
</div>
